article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
/*
@font-face {
font-family: 'AmbientFont';
src: url('Ambient.ttf')  format('truetype'), /* Safari, Android, iOS
}
*/
@font-face {
	font-family: 'AmbientFont';
	src: url('fonts/ambient-webfont.eot');
	src: url('fonts/ambient-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/ambient-webfont.woff') format('woff'),
	url('fonts/Ambient.ttf') format('truetype'),
	url('fonts/ambient-webfont.svg#AmbientFont') format('svg');
	font-weight: normal;
	font-style: normal;
}
.custom-font {
	font-family: 'AmbientFont';
}
body {
	margin: 0% !important;
	z-index: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	uotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
	color:white;
	font-family: 'AmbientFont';
}
p{
	color:white;
	font-size: 14px;
	font-family: 'Arial';
}
input{
	padding:1% !important;
}
.app-container{
	margin:5% 15%;
	margin-left:10% !important;
	margin-bottom: 1% !important;
	padding-bottom:1%;
}
.background {
	background-color: #211029;
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;
	line-height: 1;
	/*background-color:transparent;*/
}
.pp_img{
	width: 100px;
	height:100px;
	margin-left: 12%;
	margin-bottom: 1%;
	z-index: 99%
}
.col-md-4{
	padding: 3% !important;
}
#intro-text{
	/*margin:5% 15%;
	margin-left:10% !important;
	margin-bottom: 1% !important;
	padding-bottom:1%;*/
}
#site-title{
	font-family: 'AmbientFont';
}
#share-buttons{
	height: 40px;
	float:right;
}
#master-vol-div{
	float:right;
	margin-left: 45%;
	width:22%;
}
#master_vol,#freq,#pan,#qual{
	width:90%;
}
#button-container{
	margin-left: 10%;
	width:60%;
}
#btn1, #btn2, #btn3, #btn4, #btn5,#btn6,#btn7,#btn8,#btn9{
	width:30%;
	/*float: left;*/
	padding-bottom:1.5%;
	height: 20%;
	margin-left: -3.5%;
}
#btn4,#btn7{
	clear:both;
}
#filter-container{
	opacity: 0.3;
	background-color: #fff;
	border-radius: 10px;
	padding-left:1%;
	padding-top:2%;
}
#filter-switches{
	color:#211029;
	margin-top:1%;
	margin-bottom:1%;
}
input[type='range'] {
	-webkit-appearance: none;
	opacity: 0.4;
	background-color: gray;
	height: 12px;
	border-radius: 15px;
	padding: 0 3px;
}

input[type='range']::-webkit-slider-thumb {
	opacity: 0.9;
	vertical-align: middle;
	-webkit-appearance: none;
	background-color: #fff;
	width: 13px;
	height: 13px;
	border-radius: 16px;
}
input[type='radio']{
	align: right;
}

#filter-button {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adb0ad), color-stop(1, #f5f5f5));
	background:-moz-linear-gradient(top, #adb0ad 5%, #f5f5f5 100%);
	background:-webkit-linear-gradient(top, #adb0ad 5%, #f5f5f5 100%);
	background:-o-linear-gradient(top, #adb0ad 5%, #f5f5f5 100%);
	background:-ms-linear-gradient(top, #adb0ad 5%, #f5f5f5 100%);
	background:linear-gradient(to bottom, #adb0ad 5%, #f5f5f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adb0ad', endColorstr='#f5f5f5',GradientType=0);
	background-color:#adb0ad;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #bcc4bd;
	display:inline-block;
	cursor:pointer;
	color:#211029;
	font-family:arial;
	font-size:17px;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #051203;
	width:71%;
	text-align: center;
	margin-top:1.5%;
}
#filter-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #adb0ad));
	background:-moz-linear-gradient(top, #f5f5f5 5%, #adb0ad 100%);
	background:-webkit-linear-gradient(top, #f5f5f5 5%, #adb0ad 100%);
	background:-o-linear-gradient(top, #f5f5f5 5%, #adb0ad 100%);
	background:-ms-linear-gradient(top, #f5f5f5 5%, #adb0ad 100%);
	background:linear-gradient(to bottom, #f5f5f5 5%, #adb0ad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#adb0ad',GradientType=0);
	background-color:#f5f5f5;
}
#filter-button:active {
	position:relative;
	top:1px;
}
